@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Прототип регистратуры</h1>
    <p><a href="/Pations/List/">Список пациентов</a></p>
    <p><a href="/Doctors/List/">Список врачей</a></p>
    <p><a href="/Nurses/List/">Список младшего мед.персонала</a></p>
</div>